body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode nav {
    background-color: #333;
    color: white;
}

.dark-mode nav a {
    color: white;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav a {
    color: #222222;
    text-decoration: none;
    margin-right: 20px;
}

nav .dark-mode-switch {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

header {
    text-align: center;
    color: white;
    background-color: #222222;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 48px;
    background-image: url("img/background.jpg");
    background-position: top center;
    background-size: cover;
}

.product-gallery {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 20px;
    padding: 20px;
}

.product-gallery .product {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-gallery .product:hover {
    transform: scale(1.05);
}

.product-gallery img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #6c5ce7;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

#registration form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

#registration form label {
    font-weight: bold;
}

#registration form input, #registration form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#registration form input[type="submit"] {
    background-color: #6c5ce7;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
